<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yash.trivia_app">

    <application
        android:name=".TriviaApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TriviaApp">
        <activity android:name=".ui.component.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.component.userInput.UserInputActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".ui.component.summary.SummaryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/summary"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".ui.component.history.HistoryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/history"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>